#typewriter,
#about-title {
  font-family: 'flat-jooza', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  width: 40%;
  background-color: rgb(245, 244, 225);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  line-height: 2.5;
  padding: 20px;
}

#about-title {
  font-size: 45px;
}